<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                     stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                     viewBox="0 0 24 24">
                    <title>다모임</title>
                    <circle cx="12" cy="12" r="10" />
                    <path
                            d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
                </svg>
                <small class="d-block mb-3 text-muted">&copy; 2024–2024</small>
            </div>
            <div class="col-6 col-md">
                <h5>모임</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">모임 주최하기</a></li>
                    <li><a class="link-secondary" href="#">모임 참여하기</a></li>
                    <li><a class="link-secondary" href="#">모임 관리하기</a></li>
                    <li><a class="link-secondary" href="#">모임 후기</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>커뮤니티</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">공지사항</a></li>
                    <li><a class="link-secondary" href="#">주제별 게시판</a></li>
                    <li><a class="link-secondary" href="#">태그별 게시판</a></li>
                    <li><a class="link-secondary" href="#">핫한 플레이스 공유</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>마이페이지</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">회원정보 보기</a></li>
                    <li><a class="link-secondary" href="#">회원정보 변경</a></li>
                    <li><a class="link-secondary" href="#">모임 관리</a></li>
                    <li><a class="link-secondary" href="#">알림 설정</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>고객센터</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Q&A</a></li>
                    <li><a class="link-secondary" href="#">자주 묻는 질문</a></li>
                    <li><a class="link-secondary" href="#">문의하기</a></li>
                    <li><a class="link-secondary" href="#">건의하기</a></li>
                </ul>
            </div>
        </div>
    </footer>

</div>

</html>