<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">

    <!-- 푸터 -->
    <footer id="footer" class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <h6><img src="/img/favicon.png" alt="header_logo" width="36" height="36" class="rounded-circle"> DAMOIM</h6>
                <small class="d-block mb-3 text-muted">&copy; 2024–2024</small>
            </div>
            <div class="col-6 col-md">
                <h5>모임</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">모임 주최하기</a></li>
                    <li><a class="link-secondary" href="#">모임 참여하기</a></li>
                    <li><a class="link-secondary" href="#">모임 관리하기</a></li>
                    <li><a class="link-secondary" href="#">모임 후기</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>커뮤니티</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">공지사항</a></li>
                    <li><a class="link-secondary" href="#">주제별 게시판</a></li>
                    <li><a class="link-secondary" href="#">태그별 게시판</a></li>
                    <li><a class="link-secondary" href="#">핫한 플레이스 공유</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>마이페이지</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">회원정보 보기</a></li>
                    <li><a class="link-secondary" href="#">회원정보 변경</a></li>
                    <li><a class="link-secondary" href="#">모임 관리</a></li>
                    <li><a class="link-secondary" href="#">알림 설정</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>고객센터</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">Q&A</a></li>
                    <li><a class="link-secondary" href="#">자주 묻는 질문</a></li>
                    <li><a class="link-secondary" href="#">문의하기</a></li>
                    <li><a class="link-secondary" href="#">건의하기</a></li>
                </ul>
            </div>
        </div>
    </footer>

</div>

</html>