/* box-sizing 규칙을 명시합니다. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* 폰트 크기의 팽창을 방지합니다. */
html {
  scroll-behavior: smooth;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}